{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<style>
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  .title {
    color: grey;
    font-size: 18px;
  }

  .title {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 4px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
  }


  button:hover, a:hover {
    opacity: 1;
  }




.flip-card {
  background-color: transparent;
  width: 100%;
  height: 450px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  transform: rotateY(180deg);
  color: white;
  background-color: #000;
}
  </style>

<div class="">
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card">
        <p class="title">Mr. Rahul Gupta</p>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="{% static 'ext_images/rahul4.jpg' %}" class=""  alt="Rahul" style="width:100%;" height="450">
            </div>
            <div class="flip-card-back">
              <p class="mt-3 "> Quick Intro </p>
              <h5 class="mt-5 mb-4">Passionated Software Developer</h5>
              <p class="mt-3 ">Graduate from Mumbai University</p>
              <p class="mt-3 ">Specialist in Django </p>
              <p class="mt-3 ">With 1.5 Years+ Experiences</p>
              <p class="mt-3 ">Interested in ML and AI</p>
              <p>
                <br>
                <a href="https://www.linkedin.com/in/rahul-gupta-1b2578170/" target="_blank"> <i class="fab fa-linkedin" style="widows: 25px;height:25px; "></i>&nbsp;LinkedIn</a> &nbsp;&nbsp;
                <a href="https://github.com/Rahul-Radheshyam-Gupta" target="_blank"> <i class="fab fa-github-square"></i>&nbsp;GitHub</a>
              </p>
              <p class="text-white">
                <a href="https://rahulgupta1995.pythonanywhere.com/" style="font-weight:bolder;text-decoration: none;">View Live Project</a>
              </p>
              <p class="mt-3">
                <small>Be Your Better Version &nbsp; :&nbsp;)</small>
              </p>
            </div>
          </div>
        </div>
    </div>
    </div>
    <div class="col-md-7 mr-1">
          <h3 class="">Hi! <strong>I'm Rahul Gupta..</strong></h3><hr>
          <h5 class=" text-muted"> A small intro about myself.. </h5>
                    <p>I am a <b> <abbr title="Working on Django Framework" style="text-decoration:none;">Django Software Developer</abbr>  at Teamnest HRMS Solutions Pvt. Ltd. </b>
      and with the experience of <strong> 1.5Years+ </strong>. <br>
      <p class="">
        I have done so many practice projects like Quiz app,Todo app,weather app and <a href="https://rahulgupta1995.pythonanywhere.com/">Eccomerce website</a> with basic functionalities.
        Even this portfolio website is also created using Django Framework..</p>
      <br>

      <div class="row" >
        <div class="col-lg-3 col-md-6">
          <div class="form-group">
            <span class="border btn btn-success border-primary bg-dark" data-toggle="collapse" data-target="#objective"> My Objective &nbsp; <i class="fas fa-caret-square-down"></i></span>
          </div>
        </div>
        <div class="col-lg-4  col-md-6">
          <div class="form-group">
            <span class="border btn btn-success border-primary bg-dark" data-toggle="collapse" data-target="#think"> My Favourite Quote &nbsp; <i class="fas fa-caret-square-down"></i></span>
          </div>
        </div>
        <div class="col-lg-5 col-md-6">
          <span class="border btn btn-success border-primary bg-dark">
        <a href="{% static 'ext_images/rahul_cv.pdf' %}" target="_blank" class="" style="color:white !important;text-decoration: none;" download>Download My Updated CV &nbsp;<i class="fa fa-download" aria-hidden="true"></i></a>
            </span>
        </div>
      </div>
      <br>
      <div id="objective" class="collapse mb-3">
          <b>Objective</b>:- To work for an organization which provides me the opportunity which can make use of my skills set to achieve the organization goal.
          </div>
          <div id="think" class="collapse mb-3">
          <b>Qoute</b>:- If something is not going in the way you planned then dont be panic.Because the miracles are never planned.
          </div>

          <p><a class="btn btn-primary btn-block mt-5" href="{% url 'home:about' %}"> Click here to know about my Experiences and Internship  &nbsp; &raquo;</a></p>

      </div>

  </div>
</div>

{% endblock content %}