**/migrations/**
!**/migrations
!**/migrations/__init__.py
*.pyc
.idea/
db.json
celerybeat-schedule
celerybeat.pid
debug.log
media/
teamnest_hrms/docs/_build/
rs.sh
celery.sh
nohup.out
**/logs/**
reports/junit.xml
*.pdf
.vscode/
*.DS_Store
**/setup_docs/diagrams/**